<h1>ajout de nouveau artciles</h1>

<%= form_for(@article) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :texte %>
  <%= f.text_field :texte%>

  <%= f.submit %>

  <% end %>
